html {
  @apply bg-[accent] scroll-smooth;
}
body {
  @apply antialiased text-base text-typo-dark font-normal font-primary;
}
.hero {
  background-image: url("/src/assets/images/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-2 {
  background-image: url("/src/assets/images/img-aux-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-3 {
  background-image: url("/src/assets/images/img-aux-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-5 {
  background-image: url("/src/assets/images/img-aux-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-6 {
  background-image: url("/src/assets/images/img-aux-5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-7 {
  background-image: url("/src/assets/images/img-aux-6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
