@import "tailwindcss";

@theme {
  --font-primary: "Geist", sans-serif;

  --color-primary: #0D1F08;
  --color-secondary: #31110F;
  --color-tertiary: #1F0808;
  --color-typo-dark: #000000;
  --color-typo-light: #F2F2F2;
}
